[defaults]
# 📂 DIRECTORIOS
inventory = inventory/
roles_path = roles:~/.ansible/roles:/usr/share/ansible/roles
host_key_checking = False

# 🔐 VAULT - HashiCorp Vault está en Docker
# NO hay archivo vault_vcenter.yml
# Todas las credenciales vienen de Vault

# 🔑 HASHICORP VAULT CONFIGURATION
# Configuración para el plugin community.hashi_vault
[community.hashi_vault]
vault_addr = http://127.0.0.1:35013
vault_token = root-token

# 🐍 PYTHON
interpreter_python = /home/glender/ansible-proyecto/venv/bin/python3
ansible_python_interpreter = /home/glender/ansible-proyecto/venv/bin/python3
# 🔧 EJECUCIÓN
force_color = True
timeout = 30
forks = 5
gather_timeout = 10

# 📝 LOGGING
log_path = ./ansible.log
display_skipped_hosts = False
display_ok_hosts = True



# 📊 OUTPUT
callback_whitelist = profile_tasks, timer, stdout
stdout_callback = default

hashivault_addr = http://127.0.0.1:35013
hashivault_token = root-token


[privilege_escalation]
become = yes
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
control_path = /tmp/ansible-ssh-%%h-%%p-%%r
pipelining = True

